@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import "./libs/mixins.scss";
@import "./libs/variables.scss";

body {
    margin: 0;
    font-family: $fontprimary;
    background-color: $secondarygrey;
    width: 70%;
    margin-left: 15%;
    @include tab {
        width: 100%;
        margin-left: 0;
    }
}

header {
    font-family: $fontsecondary;
    text-align: center;
    box-shadow: 0 0 8px rgb(0 0 0 /25%);
    padding: 2px;
    position: relative;}

    .fa-arrow-left-long {
        position: absolute;
        left: $p16;
        bottom: 40%;}
    
        img {
            max-width: 100%;
            max-height: 12rem;
            width: 100%;
            object-fit: cover;
            }
               
.menu {
    margin-top: -3.5rem;
    background-color: $secondarygrey;
    z-index: 1;
    position: relative;
    border-radius: $p32 $p32 0 0;
    height: 1100px;
    margin-bottom: $p32;
  
    h1 {
        font-family: $fontsecondary;
        padding: $p16;
        font-size: 1.5rem;
        margin-left: $p48;
        }
    .fa-heart {
            @include color;
            right: 65px;
            top: 4%;
            transform: translateY(-80%);
            position: absolute;
            font-size: 1.5rem;
            &:hover {
               color: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
                transition-duration: 1s;}}
     
.title {
    width: 95%;
    .title-underline {
    border-bottom: 3px solid $green;
    padding-bottom: 5px;
    width: 6%;}
        @include tab {
        margin-left: $p16;}
        @include mob {
            margin-left: $p16;}
        }}

.menu_carte {
    cursor: pointer;
    border-radius: $p25;
    padding-left: $p16;
    margin-left: $p32;
    width: 90%;
    height: 80px;
    gap: $p16;
    @include display;
    margin-bottom: $p16;
    background-color: white;
    &:h2 {
    padding: $p16;
    }
    @include mob {
        margin-left: 20px;
        padding-left: 0px;
    }

.menu_titre {
    padding-right: $p16;
    @include mob {
        margin-left: $p16;
    }
}
    p {
    margin-top: -$p16;
}

.menu_price 
    {
    margin-left: auto;}
    
    h5 {
   margin-top: $p48;
   font-weight: bold;
   font-size: $p16;
    }
    }
    .box {
overflow: hidden;
text-align: center;
background: #99E2D0;
border-radius: 0 $p25 $p25 0;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
height: 79px;
-webkit-transition: width 2s;
-o-transition: width 2s;
transition: width 2s;
animation-name: box;
animation-duration: 2s;
&:hover {
    width: 0px;
    @keyframes box {
  0% {
    width: 0px;
  }
  50% {
    width: 75px;
  }
  100% {
    width: 0px;
  }
}}
    .check {
    background-color: $green;
    height: 79px;
    width: 0px;
    color: $wcolor;
    @include display;
    border-radius: 0 $p25 $p25 0;
    font-size: $p32;
    animation-name: box;
    animation-duration: 2s;
    transform: rotate(360deg);
    transition: transform 500ms, -webkit-transform 500ms;
    }}
    
.btn {
    font-size: $p32 - 2px;
    background-image: $radiant;
    border-radius: $p32 $p32 $p32 $p32;
    color: $wcolor;
    font-size: $p16;
    font-weight: bold;
    height: $p48;
    width: 25%;
    margin-left: 39%;
    margin-bottom: $p32;
    @include mob {
        width: 40%;
        margin-left: 30%;}}

 .footer {
  @include display;
  background-color: $darkgrey;
   @include mob {
    padding-right: 170px;
    font-size: $p16 - 4px;
  }
  .ustensils {
  color: $wcolor;
  margin-left: $p16;
  @include display;
  gap: $p16;
  padding: 0.1rem;
  text-decoration:none;
  @include mob {
  margin-left: -3px;
  width: 100%;}}

  .help {  
  color: $wcolor;
  margin-left: $p16;
  @include display;
  gap: $p16;
  padding: 0.1rem;
  text-decoration:none;
  @include mob {
  margin-left: -29px;
  gap: 9px;}
}
  .fas {
    @include mob
    { font-size: $p16;
      }}
  .mentions {
    color: $wcolor;
  margin-left: $p16;
  @include display;
  padding: 0.1rem;
  text-decoration:none;
  @include mob {
  margin-left: -64px;
    }}
  .mail {
    color: $wcolor;
  margin-left: $p16;
  @include display;
  gap: 16px;
  padding: 0.1rem;
  text-decoration:none;
  @include mob {
  margin-left: -111px;}
}
.footer_container {
  display: flex;
  flex-direction: column;
  margin-bottom: $p32 + 4px;
}
h3 {
  font-family: $fontsecondary;
  text-align: center;
  position: relative;
  color: $wcolor;
  margin-left: $p32;
  @include display;
  font-size: $p32 - 7px;
  margin-bottom: -0.1rem;
  @include mob {
  margin-left: -$p48 - 2;
  font-size: $p16;
}}
 }
