@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import "libs/mixins.scss";
@import "libs/variables.scss";


body {
  margin: 0;
  font-family: $fontprimary;
}
// loader
.loader {
  border: 10px solid grey;
  border-top: 10px solid  rgba(147, 86, 220, 0.9);
  border-bottom: 10px solid rgba(255, 121, 218, 0.9);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
  -webkit-animation: spin 3s linear infinite;
  -o-animation: spin 3s linear infinite;
  animation: spin 3s linear forwards;
  @keyframes spin {
  0% {
    transform: rotate(0deg);
    } 
  100% {
    transform: rotate(360deg);
    }
    }
  position: absolute;
  top: 0; 
  bottom: 0;
  left: 0;
  right: 0;
  }
//

header {
  font-family: $fontsecondary;
  text-align: center;
  box-shadow: 0 0 8px rgb(0 0 0 /25%);
  padding: $p16 - 14px;
  position: relative;
  @include mob {
  margin-top: -10px;
  margin-bottom: -10px;
  box-shadow: none;
  }
}

main .city {
  background-color: $primarygrey;
  @include display;
  padding: 4px;
  gap: $p16;
  @include mob {
    padding: 0;
    margin-top: -15px;
    margin-bottom: -2px;
    height: 40px;
    font-size: 10px;
    i {
       @include mob {
  font-size: $p16 - 2px;
  }}
  }
}
i {
  font-size: $p16 + 9px;
}

.reservation {
  text-align: center;
  background-color: $secondarygrey;
  padding-bottom: $p32;
  h2 {
    margin: 0px;
    padding-top: $p32;
    font-size: $p32 - 2px;
     @include mob {
      font-size: $p16 + 6px;
    }
  }
  p {
    font-size: $p16;
     @include mob {
      font-size: $p16 + 1;
    }
  }
  button {
    background-image: $radiant;
    border-radius: $p32 $p32 $p32 $p32;
    color: white;
    font-size: $p16;
    font-weight: bold;
    height: $p32 + 16px;
    width: 25%;
    cursor: pointer;
    @include tab {
      width: 32%;
    }
    @include mob {
      width: 62%;}
  &::hover {
    transform: scale(1.03);
    opacity: 0.9;}
}}

.howtodo h2 {
  @include h2;
   @include mob {
      padding-left: $p16 + 4px;
    }
}

.cartes {
  display: flex;
  gap: 115px;
  padding-left: 180px;
  @include tab {
  padding-left: $p48 - 8px;
  gap: 95px;
  @include mob {
  flex-direction: column;
  gap: 0;}
  }
  i {
    padding-left: $p16 + 4px;}
  .choice {
    @include fonctionnement;
    @include display;
    position: relative;
    &:hover {
        background-color: $violet;
          }
    @include mob {
      width: 100%;
      margin-left: -20px;
      margin-bottom: $p16;
      height: 60px;
      }
  i {
    @include mob {
      padding-left: 0;
    }
    }
  p {
    margin: $p16;
    gap: $p16;}
  .number {
    @include number;
    transform: translate(-25px);
  }
  }
  .compose {
    @include fonctionnement;
    @include display;
    position: relative;
    &:hover {
        background-color: $violet;
          }
     @include mob {
      width: 100%;
      margin-left: -20px;
      margin-bottom: $p16;
      height: 60px;
    }
    i {
    @include mob {
      margin-left: -65px;
    }
    }
  }
  .number2 {
    @include number;
    transform: translate(-9px);
  }
  .eat {
    @include fonctionnement;
    @include display;
    position: relative;
    &:hover {
        background-color: $violet;
          }
     @include mob {
      width: 100%;
      margin-left: -20px;
      margin-bottom: $p16;
      height: 60px;
    }
    i {
    @include mob {
      margin-left: -60px;
    }
    }
  }
  .number3 {
    @include number;
    transform: translate(-9px);
  }
}

.menus {
  @include mob {
    margin-bottom: $p32;
  }
  h2 {
    @include h2;
    @include mob {
      padding-left: $p16 + 4px;
    }
  }
  .promo {
  position: absolute;
  top: 8px;
  right: 13px;
  width: 70px;
  padding: 5px;
  color: #0c6b50;
  background: #99E2D0;
  border-radius: 3px;
  text-align: center;}

  .restaurants-card {
    @include card;
    height: 250px;
    @include mob {
      margin-bottom: 8px;
      }
    }
    img {
    @include card-img;
    }
    a {
      text-decoration: none;
      }
    .contain1 {
    @include display;
    gap: $p48;
    @include mob {
    flex-direction: column;
    gap: $p16;
    }
    }
    .contain2 {
    @extend .contain1;
    @include mob {
      margin-top: $p16;
    }
    }
  }
.restaurants-content {
  height: 60px;
  position: relative;
  h2 {
    @include color;
    font-size: $p32 - 10px;
    align-items: center;
    display: flex;
    margin-top: 0.3rem;
  }
  p {
    display: flex;
    @include color;
    margin-top: -$p16;
    margin-left: $p32;
    margin-bottom: $p32;
    @include mob {
      margin-left:$p16 + 4px; 
    }
  }
  .fa-heart {
    @include color;
    right: $p16;
    top: 30%;
    transform: translateY(-60%);
    position: absolute;
    font-size: 1.5rem;
  }
  .fas {
    color: transparent;
    background-image: $radiant;
    background-clip: text;
    webkit-background-clip: text;
    opacity: 0;
    transition: all 50ms;
  }
  .fas:hover {
    opacity: 1;
  }
}

.footer {
  @include display;
  background-color: $darkgrey;
  animation: apparition 1900ms both 2200ms;
  width: 100%;
  margin-top: -13px;
  @include mob {
    font-size: $p16 - 4px;
  }
    .ustensils {
      color: $wcolor;
      margin-left: $p16;
      @include display;
      gap: $p16;
      padding: 0.1rem;
      text-decoration:none;
        @include mob {
          margin-left: -3px;
          width: 100%;}
    }
    .help {  
      color: $wcolor;
      margin-left: $p16;
      @include display;
      gap: $p16;
      padding: 0.1rem;
      text-decoration:none;
      @include mob {
        margin-left: -29px;
        gap: 9px;}
    }
    .fas {
    @include mob {
      font-size: $p16;
      }
    } 
  .mentions {
    color: $wcolor;
    margin-left: $p16;
    @include display;
    padding: 0.1rem;
    text-decoration:none;
    @include mob {
      margin-left: -64px;
    }
  }
  .mail {
    color: $wcolor;
    margin-left: $p16;
    @include display;
    gap: 16px;
    padding: 0.1rem;
    text-decoration:none;
    @include mob {
      margin-left: -111px;
    }
  }
  .footer_container {
    display: flex;
    flex-direction: column;
    margin-bottom: $p32 + 4px;
    @include mob {
      margin-left: -190px;
    }
  }
    h3 {
      font-family: $fontsecondary;
      text-align: center;
      position: relative;
      color: $wcolor;
      margin-left: $p32;
      @include display;
        font-size: $p32 - 7px;
        margin-bottom: -0.1rem;
      @include mob {
        margin-left: -62px;
        font-size: $p16;
      }
    }
}
